@import "tailwindcss";

:root {
  --font-eagle: system-ui;
  --font-sprintura: system-ui;
}
h1,h2,h3 { font-family: var(--font-eagle), ui-sans-serif, system-ui; }
.brand-script { font-family: var(--font-sprintura), ui-sans-serif, system-ui; }
.font-script { font-family: var(--font-xirod), ui-sans-serif, system-ui; }


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
